<div class="card-body">
  <%- msgErr.length ? `
  <p class="alert alert-danger">${msgErr}</p>
  ` : ""%> <%- msgSuccess.length ? `
  <p class="alert alert-success">${msgSuccess}</p>
  ` : ""%>
  <div class="row">
    <div class="col-5 col-sm-3">
      <div
        class="nav flex-column nav-tabs h-100"
        id="vert-tabs-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="vert-tabs-home-tab"
          data-toggle="pill"
          href="#vert-tabs-home"
          role="tab"
          aria-controls="vert-tabs-home"
          aria-selected="true"
          ><i class="fas fa-user mr-2"></i>Thông tin người dùng</a
        >
        <a
          class="nav-link"
          id="vert-tabs-profile-tab"
          data-toggle="pill"
          href="#vert-tabs-profile"
          role="tab"
          aria-controls="vert-tabs-profile"
          aria-selected="false"
          ><i class="fas fa-shield-alt mr-2"></i>Bảo mật và đăng nhập</a
        >
        <a
          class="nav-link"
          id="vert-tabs-messages-tab"
          data-toggle="pill"
          href="#vert-tabs-messages"
          role="tab"
          aria-controls="vert-tabs-messages"
          aria-selected="false"
          ><i class="fas fa-key mr-2"></i>Mật khẩu</a
        >
      </div>
    </div>
    <div class="col-7 col-sm-9">
      <div class="tab-content" id="vert-tabs-tabContent">
        <div
          class="tab-pane text-left fade show active"
          id="vert-tabs-home"
          role="tabpanel"
          aria-labelledby="vert-tabs-home-tab"
        >
          <div class="form-group row d-flex justify-content-center">
            <label for="name" class="col-sm-2 col-form-label"
              >Tên người dùng</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Nhập tên ..."
                class="form-control"
                value="<%= user.name %>"
                readonly="readonly"
              />
            </div>
          </div>
          <div class="form-group row d-flex justify-content-center">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Nhập tên email ..."
                class="form-control"
                value="<%= user.email %>"
                readonly="readonly"
              />
            </div>
          </div>
          <div class="form-group row d-flex justify-content-center">
            <label for="phone" class="col-sm-2 col-form-label"
              >Số điện thoại</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                name="phone"
                id="phone"
                placeholder="Nhập tên số điện thoại ..."
                class="form-control"
                value="<%= user.phone %>"
                readonly="readonly"
              />
            </div>
          </div>
          <div class="form-group row d-flex justify-content-center">
            <label for="address" class="col-sm-2 col-form-label">Địa chỉ</label>
            <div class="col-sm-6">
              <input
                type="text"
                name="address"
                id="address"
                placeholder="Nhập tên address ..."
                class="form-control"
                value="<%= user.address %>"
                readonly="readonly"
              />
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a
              href="<%= redirectPath.SETTINGS_INFO_ADMIN %>"
              class="btn btn-primary"
              >Đổi thông tin</a
            >
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="vert-tabs-profile"
          role="tabpanel"
          aria-labelledby="vert-tabs-profile-tab"
        >
          <div class="mb-3 row">
            <i class="fab fa-facebook col-sm-2 align-items-center d-flex"
              >Liên kết facebook</i
            >
            <% if (socials.includes("facebook")) {%>
            <a
              class="btn btn-dark ml-5"
              href="<%= redirectPath.DISABLE_FACEBOOK %>"
              >Tắt</a
            >
            <% } else { %>

            <a
              class="btn btn-primary ml-5"
              href="<%= redirectPath.LOGIN_FACEBOOK %>"
              >Bật
            </a>
            <% } %>
          </div>
          <div class="mb-3 row">
            <i class="fab fa-google col-sm-2 align-items-center d-flex"
              >Liên kết google</i
            >
            <% if (socials.includes("google")) {%>
            <a
              class="btn btn-dark ml-5"
              href="<%= redirectPath.DISABLE_GOOGLE %>"
              >Tắt</a
            >
            <% } else { %>

            <a
              class="btn btn-primary ml-5"
              href="<%= redirectPath.LOGIN_GOOGLE %>"
              >Bật
            </a>
            <% } %>
          </div>

          <div class="mb-3 row">
            <i class="fab fa-github col-sm-2 align-items-center d-flex"
              >Liên kết github</i
            >
            <% if (socials.includes("github")) {%>
            <a
              class="btn btn-dark ml-5"
              href="<%= redirectPath.DISABLE_GITHUB %>"
              >Tắt</a
            >
            <% } else { %>

            <a
              class="btn btn-primary ml-5"
              href="<%= redirectPath.LOGIN_GITHUB %>"
              >Bật
            </a>
            <% } %>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="vert-tabs-messages"
          role="tabpanel"
          aria-labelledby="vert-tabs-messages-tab"
        >
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-primary col-6"
              href="/admin/setting/edit-password"
            >
              Đổi Mật Khẩu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
