<a href="<%= `${redirectPath.DOCUMENT}${courseModule.Course.id}` %>" class="text-dark"
    ><i class="fas fa-2x fa-arrow-alt-circle-left"></i
  ></a>
  <%- msgErr.length ? `
  <p class="alert alert-danger">${msgErr}</p>
  ` : ""%>
  <h2 class="mt-2">Sửa chương cho khóa học: <%= courseModule.Course.name%></h2>
  <form action="" method="post">
    <div class="form-group row">
      <label for="name" class="col-sm-12 col-form-label">Tên chương:</label>
      <div class="col-sm-6">
        <input
          type="text"
          name="name"
          placeholder="Nhập tên tên chương ..."
          class="form-control"
          value="<%= courseModule.name%>"
        />
      </div>
    </div>
    <span class="text-danger mb-3"
      ><%= validateUtil.getError(errors, "name") %> </br></span
    >
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    
    <input type="hidden" name="_method" value="PATCH" />
  </form>
  