<%- msgErr.length ? `
<p class="alert alert-danger">${msgErr}</p>
` : ""%> <%- msgSuccess.length ? `
<p class="alert alert-success">${msgSuccess}</p>
` : ""%>
<h2 class="text-center font-weight-bold mb-3">Danh sách khóa học</h2>

<form action="" class="mb-2">
  <div class="row d-flex justify-content-start mb-3">
    <div class="col-7">
      <input
        type="search"
        name="keyword"
        class="form-control"
        placeholder="Tìm kiếm khóa học hoặc giáo viên ..."
        value="<%= req.query.keyword %>"
      />
    </div>
    <div class="col-2 row">
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
  </div>
</form>

<table class="table table-bordered mb-3">
  <thead>
    <tr class="">
      <th>STT</th>
      <th>Tên Khóa Học</th>
      <th>Giá</th>
      <th>Giáo Viên</th>
      <th>Học Thử</th>
      <th>Số Lượng Học Viên</th>
      <th>Thời Lượng Học</th>
      <th>Tài liệu</th>
      <% if(permissionUtil.getPermissionUser(permissionUser, 'courses.update'))
      {%>
      <th>Sửa</th>
      <% } %> <% if(permissionUtil.getPermissionUser(permissionUser,
      'courses.delete')) {%>
      <th>Xóa</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% courseList.forEach((course, index)=>{ offset = ++offset%>
    <tr>
      <th class="font-weight-normal"><%= offset %></th>
      <th class="font-weight-normal"><%= course.name %></th>
      <th class="font-weight-normal"><%= course.price %></th>
      <th class="font-weight-normal"><%= course.User.name %></th>

      <th class="font-weight-normal">
        <%= course.tryLearn > 0 ? course.tryLearn + " Buổi" : "Không" %>
      </th>
      <th class="font-weight-normal"><%= course.quantity %> Học Viên</th>
      <th class="font-weight-normal"><%= course.duration %> Buổi</th>
      <th class="font-weight-normal">
        <a
          href="<%= `${redirectPath.ADMIN_DOCUMENT}${course.id}` %>"
          class="btn btn-primary w-100"
          ><i class="far fa-eye fa-lg ml-2"></i
        ></a>
      </th>

      <% if(permissionUtil.getPermissionUser(permissionUser, 'courses.update'))
      {%>
      <th>
        <a
          href="<%= `${redirectPath.COURSE_UPDATE}${course.id}` %>"
          class="btn btn-warning bg-warning d-flex justify-content-center align-items-center w-100"
          >Sửa</a
        >
      </th>

      <% } %> <% if(permissionUtil.getPermissionUser(permissionUser,
      'courses.delete')) {%>
      <form
        action="<%= `${redirectPath.COURSE_DELETE}${course.id}` %>"
        method="post"
      >
        <th>
          <button
            class="btn btn-danger bg-dabtn-danger d-flex justify-content-center align-items-center w-100"
          >
            Xóa
          </button>
        </th>
        <input type="hidden" name="_method" value="DELETE" />
      </form>
      <% } %>
    </tr>

    <% }) %>
  </tbody>
</table>

<div class="d-flex justify-content-start">
  <a
    href="<%= req.query.keyword ? `${redirectPath.COURSES_EXPORT}?keyword=${req.query.keyword}`: `${redirectPath.COURSES_EXPORT}` %>"
    class="btn btn-outline-dark"
  >
    <i class="fas fa-file-export"></i> Xuất file excel</a
  >
</div>

<% if(totalPages > 1){ %>
<nav class="d-flex justify-content-end">
  <ul class="pagination">
    <% if(page >1){ %>
    <li class="page-item">
      <a class="page-link" href="?<%= getPaginateUrl(req, page - 1) %>"
        >Trước</a
      >
    </li>
    <% } %> <% for(let i=1; i<= totalPages; i++){ %>
    <li class="page-item <%= +page === +i ? 'active': '' %>">
      <a class="page-link" href="?<%= getPaginateUrl(req, i) %>"><%= i %></a>
    </li>
    <% } %> <% if(page < totalPages){ %>
    <li class="page-item">
      <a class="page-link" href="?<%= getPaginateUrl(req, +page + 1) %>">Sau</a>
    </li>
    <% } %>
  </ul>
</nav>
<% } %>
