<a href="<%= redirectPath.CLASS_LIST%>" class="text-dark"
  ><i class="fas fa-2x fa-arrow-alt-circle-left"></i
></a>
<%- msgErr.length ? `
<p class="alert alert-danger">${msgErr}</p>
` : ""%> <%- msgSuccess.length ? `
<p class="alert alert-success">${msgSuccess}</p>
` : ""%>
<h2 class="text-center font-weight-bold mb-3">
  Thêm học sinh lớp: <%= classItem.name%>
</h2>

<form action="" class="mb-2">
  <div class="row d-flex justify-content-start mb-3">
    <div class="col-7">
      <input
        type="search"
        name="keyword"
        class="form-control"
        placeholder="Tìm kiếm học viên ..."
        value="<%= req.query.keyword %>"
      />
    </div>
    <div class="col-2 row">
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
  </div>
</form>
<form action="" method="post">
  <table class="table table-bordered mb-3">
    <thead>
      <tr class="">
        <th>STT</th>
        <th>Tên học viên</th>
        <th>Chọn học viên</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user, index) => {%>
      <tr>
        <th class="font-weight-normal"><%= index + 1%></th>
        <th class="font-weight-normal"><%= user.name%></th>
        <th class="font-weight-normal">
          <input name="value" type="checkbox" class="form-control " value="<%=
          user.id%>" <%= studentIds.includes(+user.id) ? "checked" : "" %>>
        </th>
      </tr>
      <% })%>
    </tbody>
  </table>
  <button class="btn btn-primary">Thay Đổi Và Lưu</button>
</form>
